body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121; /* Dark background */
    color: #98FCFF; /* Light text color */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align children */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Full height */
    text-align: center; /* Center text in body */
}

h1 {
    font-size: 4em; 
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    max-width: 500px; /* Limit width for better aesthetics */
    width: 100%; /* Full width for the input group */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center children */
}

input[type="text"] {
    width: 100%; /* Make input take the full width of the container */
    max-width: 400px; /* Set a max width to limit stretching */
    padding: 15px; /* Increased padding */
    border-radius: 25px; /* Rounded corners */
    border: 1px solid #dddddd;
    font-size: 1.2em; /* Bigger text */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
}

input[type="text"]:focus {
    border-color: #4CAF50; /* Green border on focus */
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /* Highlight effect */
    outline: none; /* Remove default outline */
}

button {
    padding: 15px 25px; /* Bigger button */
    border: none;
    border-radius: 25px; /* Rounded corners */
    background-color: #0084ff;    
    color: white;
    cursor: pointer;
    font-size: 1.2em; /* Bigger button text */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure it takes the full width */
}

button:hover {
    background-color: #4caf50;
    transform: translateY(-2px); /* Slight lift effect */
}

.download-button {
    background-color: green; /* Base color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Smaller size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.download-button:hover {
    background-color: lightgreen; /* Lighter color on hover */
}

#loadingText {
    display: none; /* Hide loading text */
    font-size: 1.5em; /* Increased loading text size */
    text-align: center;
    margin: 20px 0;
    color: #98FCFF; /* Light text color */
}

#error {
    color: red; /* Error message color */
    font-size: 1.2em; /* Increase error message size */
}

#downloadLink {
    display: none; /* Hidden by default */
    margin-top: 20px;
    font-size: 1.2em; /* Font size for the download message */
    text-align: center; /* Center text */
}

#downloadLink a {
    color: #ffffff; /* Link color */
    text-decoration: underline; /* Underline link */
    padding: 10px 20px;  /* Padding for the link */
    background-color: #4CAF50;  /* Green background */
    border-radius: 5px;  /* Rounded corners */
    display: inline-block;  /* Allows margin and padding */
    font-size: 16px;  /* Font size */
    margin: 10px auto; /* Center the link */
}

#downloadLink a:hover {
    background-color: #03b809;  /* Darker green on hover */
    text-decoration: none; /* Remove underline on hover */
}

footer {
    display: flex; /* Enables flexbox for the footer */
    justify-content: center; /* Centers the footer contents horizontally */
    align-items: center; /* Centers the footer contents vertically */
    margin-top: auto; /* Pushes the footer to the bottom */
    padding: 20px 0; /* Adds some space above and below the text */
    gap: 20px;
    width: 100%; /* Ensure footer takes full width */
}
