<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/logo/logo-512x512.png" type="image/png">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
    <h1>YouTube Downloader</h1>
    <p>Provide a YouTube link to download files.</p>

    <form id="downloadForm" enctype="multipart/form-data">
        <div class="input-group">
            <input type="text" id="youtubeLink" name="youtubeLink" placeholder="Enter YouTube link" required>
        </div>
        <div>
            <button type="submit">Download</button>
        </div>
    </form>

    <div id="loadingText" style="display: none;">Loading</div>
    <div id="error"></div>

    <div id="downloadLink" style="display: none;">
        <p>Click the links below to download the files:</p>
        <div class="button-container">
            <a id="downloadMp3Anchor" class="download-button" href="" download>Download .mp3 (sound)</a>
            <a id="downloadMp4Anchor" class="download-button" href="" download>Download .mp4 (video & sound)</a>
        </div>
    </div>

    <footer style="display: flex; justify-content: center; align-items: center; text-align: center;">
        <a href="https://majkey25.github.io/Majkey25/" style="text-decoration: none; color: inherit;">
            <p style="margin: 1;">Made by Matěj Teplý &copy; <span id="year"></span> All rights reserved.</p>
        </a>
    </footer>

    <script src="/static/app.js"></script>
    <script>
        // Service Worker registration
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/static/service-worker.js')
                    .then(registration => {
                        console.log('ServiceWorker registered:', registration);
                    }).catch(error => {
                        console.log('ServiceWorker registration failed:', error);
                    });
            });
        }
        
        // Set the current year
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</body>
</html>
